*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.header {
/*	margin: -55px 0 0 1px;
	padding-right: 20px;*/
	height: 250px;
	width: 100%;
	background-image: url('hder.gif');
	background-repeat: no-repeat;
  	background-size: 100% 400px;	
  	background-position: center;
  	padding-bottom: 300px;
}
#h1 {
	text-align: center;
	color: red;
	font-size: 80px;
	padding-top: 145px;
}
.nav {
	width: 100%;
	padding: 10px 2px 0 0;
	position: fixed;
	top: -20px;
	text-align: center;
	transition: .5s;
}
.nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 15px 80px;
	color: red;
	font-size: 20px;
	font-family: courier;
	cursor: pointer;
	border-radius: 15%;
	transition: .5s;
}
.nav ul li:hover {
	background: yellow;
}
.bg1 {
	padding-top: -500px;	
	width: 100%;
	height: 720px;
	background-image: url('bg1.jpg');
	background-repeat: no-repeat;
	margin: auto;
	background-size: cover;
	background-attachment: fixed;
	/*opacity: 0.65;*/
}
.bg2 {
	width: 100%;
	height: 840px;
	background-image: url('bg2.jpg');
	background-repeat: no-repeat;
	margin: auto;
	background-size: cover;
	background-attachment: fixed;
}