.header {
	margin: -55px 0 0 1px;
	padding-right: 20px;
	height: 250px;
	width: 100%;
	background-image: url('hder.gif');
	background-repeat: no-repeat;
  	background-size: 100% 400px;	
  	background-position: center;
}
#header {

}
#h1 {
	text-align: center;
	color: red;
	font-size: 80px;
	padding-top: 145px;
}